@model IEnumerable<ALPHA_DGS.Models.VakItem>



@{
    ViewData["Title"] = "CreateMore";
}


<h1>Create</h1>

<h4>VakItem


    
    <table id="productBody">
        @foreach (var item in Model)
        {
            <tr class="productTableRow">
                <td>@(item.Naam)</td>
                <td class="price">@(item.Naam)</td>
                <td><input type="text" class="form-control unit" data-validation="Unit" nonZero="true" currentStockAmount="@(item.Naam)" /></td>
                <td><input type="button" class="btn btn-danger removeRow" data-modelId="@(item.Naam)" value="Remove" / ></td>
                <td style="visibility:hidden;"><input type="hidden" class="hiddenModel" value="@(item.Naam)"><input type="hidden" class="hiddenPrice" value="@(item.Naam)"></td>
            </tr>
        }
    </table>
    

</h4>



<div>
    <a asp-action="Index">Back to List</a>
</div>






