@model ALPHA_DGS.Models.Magazijn

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ingevulde dingen in @Model.Naam</h1>

<p>
    <a asp-action="IndexMore">Overzichtelijke view</a>
</p>

<div>
    <p>
        <a class="btn btn-primary" asp-controller="MagazijnPartijs" asp-action="Insert" asp-route-id="@Model.Id">New Country</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartijSeriesMagazijn[0].Pvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartijSeriesMagazijn[0].Ptot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartijSeriesMagazijn[0].PHerk)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.PartijSeriesMagazijn) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pvan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ptot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Magazijn.Naam)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="MagazijnPartijs" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-success" asp-controller="MagazijnPartijs" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger"  asp-controller="MagazijnPartijs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>