@model IEnumerable<ALPHA_DGS.Models.Magazijn>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentMloId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokatieType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bezet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAanFust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentMloId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokatieType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bezet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAanFust)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MloId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MloId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MloId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
